<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kinlo-sama's website where you can learn programming, cybersecurity, and more.">
    <meta name="keywords" content="Kinlo-sama, programming, cybersecurity, technology, learning">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="../static/img/KinloLogo.ico">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <img id="header-img" src="../static/img/Kinlo_header.jpeg" >
        <h1 id="header-h1">Kinlo's Website</h1>
    </header>

    <nav class="main-navigation" id="main-nav">
        <ul id="list-nav">
            <li>Learn
                <ul class="dropdown">
                    <li><a href="#">Programming</a></li>
                    <li><a href="#">Cybersecurity</a></li>
                </ul>
            </li>
            <li>Hobbies
                <ul class="dropdown">
                    <li><a href="#">Videos</a></li>
                </ul>
            </li>
            <li>Recommendations
                <ul class="dropdown">
                    <li><a href="#">Books</a></li>
                    <li><a href="#">Games</a></li>
                </ul>
            </li>
            <li>Projects</li>
        </ul>
    </nav>

    <section class="me">
        <h2>About me</h2>
        <p>
            I&apos;m Kinlo, and i&apos;m a student who loves everything about technology. I wish to share all my knowledge on this website. I hope to teach as good as posible and improve over time.
            This may not be long to fully describe me, but the content here should suffice. Feel free to explore, learn, and reach out if you&apos;d like to connect!
            <b>Knowledge is power!!!</b>
        </p>
    </section>

    <section class="skills">
        <h2>Skills</h2>
        <h3>Programming Languages</h3>
        <ul>
            <li>C++</li>
            <li>Java</li>
            <li>Python</li>
        </ul>
        <h3>Web Development</h3>
        <ul>
            <li>HTML & CSS</li>
            <li>Flask</li>
        </ul>
        <h3>Tools & Technologies</h3>
        <ul>
            <li>Github</li>
            <li>Linux</li>
            <li>Visual Studio Code</li>
            <li>Pycharm</li>
        </ul>
        <h3>Mathematics</h3>
        <ul>
            <li>Calculus</li>
            <li>Linear Algebra</li>
            <li>Probability & Statistics</li>
            <li>Differential Equations</li>
        </ul>
    </section>
    <footer>
        <div>
            <h3>Contact Me</h3>
            <p>Email: <a href="mailto:leohola43@gmail.com">leohola43@gmail.com</a></p>
            <p>Github: <a href="https://github.com/Kinlo-sama/">Kinlo-sama</a></p>
        </div>
    </footer>
</body>
</html>